<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Form</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Simple Form</h1>
        <form id="myForm" action="/submit" method="POST">
            <label for="sender_email">Sender Email:</label><br>
            <input type="email" id="sender_email" name="sender_email"><br>
            <label for="sender_password">Sender Password:</label><br>
            <input type="password" id="sender_password" name="sender_password"><br>
            <label for="receiver_email">Receiver Email:</label><br>
            <input type="email" id="receiver_email" name="receiver_email"><br>
            <label for="subject">Subject:</label><br>
            <input type="text" id="subject" name="subject"><br>
            <label for="body">Body:</label><br>
            <textarea id="body" name="body"></textarea><br>
            <label for="times">Times:</label><br>
            <input type="number" id="times" name="times" min="1" step="1"><br>
            <label for="file_size">Size of File (in MB):</label><br>
            <input type="number" id="file_size" name="file_size" min="1" step="1"><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
